<?php

return [
    'wwwUrl' => 'http://docker.localhost:4200',
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\\DBAL\\Driver\\PDOMySql\\Driver',
                'params' => [
                    'user' => 'api',
                    'password' => '123',
                    'host' => 'mysql',
                    'dbname' => 'api',
                    'port' => '3306',
                    'charset' => 'utf8mb4',
                    'collate' => 'utf8mb4_unicode_ci',
                ],
            ],
        ],
        'configuration' => [
            'orm_default' => [
                'metadata_cache'    => 'array',
                'query_cache'       => 'array',
                'result_cache'      => 'array',
            ],
        ],
    ],

    'redis' => [
        'db' => [
            'server' => 'redis',
            'port' => '6379',
        ],
    ],

    'session_config' => [
        'phpSaveHandler' => 'redis',
        'savePath' => 'tcp://redis:6379?weight=1&timeout=1',
    ],
];
